<p>Hi,</p>

<p>Your import is complete! Check the issue lists in the repositories.</p>

<p>You can view the list of imported issues in the app on the link below.</p>
<p><%= @url %></p>

<div>
Regards,<br>
Issue uploading tool.
</div>