<header>
  <div class="clearfix container row-fluid">
    <h1 class="logo">GitLab/GitHub Issue uploading tool</h1>    
  

  <div class="span5 pull-right">
      <ul class="pull-right"> 
        <li><%= link_to("Issues", issues_path) %></li>
        <li><%= link_to("Settings", settings_path) %></li>
      </ul>
  </div>
  </div>
</header>